html {
    height: 100%;
}

body {
    height: 100%;
}

nav {
    position: fixed;
    width: 100%;
    padding-top: 15px;

}

nav .content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font: 600 13px/25px "Roboto", sans-serif;
    align-items: center;
    justify-content: flex-end;

}

.all-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-buttons {
    margin-right: 10px;
}

nav .img {
    width: 40%;
}


.nav-buttons:hover {
    color: #00e0d0;
    cursor: pointer;
}

header {
    height: 100%;
}

header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;

}

.gradient {
    z-index: 1;
    background-image: linear-gradient(to bottom, #09052f, #311d5e);
}

header .content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.header {
    font: 600 32px/31px 'PlayfairDisplay', sans-serif;
    color: white;
    margin-bottom: 52px;
}

.text-ipsum {
    font: 300 14px/24px 'Roboto', sans-serif;
    color: white;
    margin-bottom: 50px;

}

.button-learn-more {
    border: solid #00e0d0;
    border-radius: 3px;
    padding: 15px;
    color: #00e0d0;
    font: 300 16px 'Hammersmith', sans-serif;

}

.button-learn-more:hover {
    cursor: pointer;
}